/*=========================================================
	COMENTARIOS ZONA CLIENTE
===========================================================*/

.comments{
    max-width: 100%;
    background: #f8f8f8;
    padding: 10px;
    transition: 0.2s all ease-in-out;
}
.comment-box{
    position: relative;
    background: #fff;
    padding:20px;

    padding-bottom: 17px;
    margin-bottom: 50px;
    border-bottom: 2px solid #eee;

}
.comment-box .comment-header > span{
    position: absolute;
    display: inline;
    padding: 5px;
    max-width: 30%;
    right: 0px;
    font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif;
}

.comment-box .comment-header > span:first-child{
    position: relative;
    max-width: 60%;
    font-size: 15px;
}

.comment-producto-name{
    font-weight: bold
}
.comment-box p{
    margin-top:20px;
    display:block;
    font-size: 17px;
    color: #333;
}
.comment-box .rating-stars i{
    color: #D10024
}
.comment-box .rating-stars > span{ 
    padding-right: 10px
}

.comment-delete, .comment-edit, .comment-check, .comment-close {
    width: 35px;
    height: 35px;
    color: #eee;
    background: #D10024;
    border: none;
    transition: 0.2s all;
    border-radius: 50%;
    margin: 0 10px;     
  }
  .comment-edit {
    background: #2889ce;
  }
  .comment-edit:hover {
    color: #2889ce;
    background: #E4E7ED
  }
  .comment-check {
    background: rgb(54, 150, 129);
  }

  .comment-check:hover {
    color: rgb(54, 150, 129);
    background: #E4E7ED
  }
  .comment-delete:hover{
    background-color: #E4E7ED;
    color: #D10024;
  }
 
  .comment-delete:focus, .comment-edit:focus, .comment-check:focus, .comment-close:focus {    
      outline: 0
  }
 

.options-comt-buttons{
    position: relative;
    float:right;

}


.comments .input-rating {
    margin-bottom: 15px;
  }
  
  .comments .input-rating .stars {
    display: inline-block;
    vertical-align: top;
  }
  
  .comments .input-rating .stars input[type="radio"] {
    display: none;
  }
  
  .comments .input-rating .stars>label {
    float: right;
    cursor: pointer;
    padding: 0px 3px;
    margin: 0px;
  }
  
  .comments .input-rating .stars>label:before {
    content: "\f005";
    font-family: "Font Awesome 5 Free";
    color: #797979;
    font-weight: 400;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
  }
  
  .comments .input-rating .stars>label:hover:before, .comments .input-rating .stars>label:hover~label:before {
    color: #D10024;
  }
  
  .comments .input-rating .stars>input:checked label:before, .comments .input-rating .stars>input:checked~label:before {
    content: "\f005";
    font-weight: 900; 
    color: #D10024;
  }

  #cmt-descripcion{
      padding:10px;
      margin: 10px
  }