/*=========================================================
	COMENTARIOS ZONA CLIENTE
===========================================================*/

.comments{
    max-width: 100%;
    background: #fff;
    padding: 30px;
}
.comment-box{
    position: relative;
    background: #fff;
    margin-bottom: 40px;
    border-bottom: 1px solid #eee

}
.comment-box .comment-header > span{
    position: absolute;
    display: inline;
    padding: 5px;
    max-width: 30%;
    right: 0px;
    font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif;

}

.comment-box .comment-header > span:first-child{
    position: relative;
    max-width: 60%;
    font-size: 15px;
}

.comment-producto-name{
    font-weight: bold
}
.comment-box p{
    margin-top:20px;
    display:block;
    font-size: 18px;
    font-weight: 100;
    font-family: "Calibri";
    color: #333
}