/*=========================================================
	REGISTRO DE USUARIO
===========================================================*/

#registro-container{
    max-width: 700px;
    margin:0 auto;
}
.registro{
    position: relative;
    background: #fff;
    margin:0 auto;
    padding: 30px;
}

.registro .mensajito{
    text-align: center
}

#registro{
    background: url("https://4.bp.blogspot.com/-SQybeBqjj8c/UhyvJSp53UI/AAAAAAAADWQ/W0zgupDt-xg/s1600/Official-Windows-8-1-RTM-Wallpaper.jpg");
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}

.registro .form-group{margin-top:10px;}

.form-check-inline{
    margin-left: 40px;
    margin-right: 40px;
}