/*=========================================================
	ESTILOS GENERALES
===========================================================*/
body{
  position: relative;
  font-family: 'Roboto', sans-serif!important;
}

.body-ctn{
  min-height: 100vh;
  padding-top: 80px;
  padding-bottom: 80px
}


main{
  margin:0 auto;
  padding: 30px;
  height: 100%;
  max-width: 100%;
  text-align: center;
}


#navigation{
  margin-top: 15px;
  background: #eee;
  font-family: "Montserrat", sans-serif; 
  font-weight: 500!important;
  
  }
  #navigation ul {
  max-width: 1100px;
  margin: auto;
  }
  
  #navigation li a {
    color:#333;
  }
  
  #navigation {
    background: #FFF;
    border-bottom: 2px solid #E4E7ED;
  }
  
  #navigation .nav>li+li {
    margin-left: 30px
  }
  #navigation .nav>li>a {
    padding: 15px 0px;
  }
  
  #navigation .nav>li>a:hover, #navigation .nav>li>a:focus, #navigation .nav>li.active>a {
    color: #D10024;
    background-color: transparent;
  }
  #navigation .nav>li>a:after {
    content: "";
    display: block;
    width: 0%;
    height: 2px;
    background-color: #D10024;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
    z-index: 50
  }
  
  #navigation .nav>li>a:hover:after, .nav>li>a:focus:after, .nav>li.active>a:after {
    width: 100%;
  }

.container-after-header{
  margin-top:100px
}

.formulario{
  position: relative;
  background: #eee;
  max-width: 400px;
  margin:0 auto;
  padding: 30px;
  margin-top: 10%;
}

.formulario button{
  text-align: center;
  margin:auto;
}

.center{margin:auto;
text-align: center}

footer{
  background:#393939;
  color:#fff;
  text-align: center;
  padding: 10px;
  position: absolute;
  bottom: 0px !important;
  width: 100%
}


.header-logo-black {
  text-align: center
}
 
.header-logo-black .logo img {
   margin-left: auto;
   margin-right: auto;
   margin-top: 3vh;
   margin-bottom: 2vh;
}


/* Hay que ver que hacer con esta vaina */
.header-ctn .menu-toggle {
  display: none;
}

/*----------------------------*\
	Buttons
\*----------------------------*/

.primary-btn {
  display: inline-block;
  padding: 12px 30px;
  background-color: #D10024;
  border: none;
  border-radius: 40px;
  color: #FFF;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.primary-btn:hover, .primary-btn:focus {
  opacity: 0.9;
  color: #FFF;
}
.client-zone{
margin-left: 0px;
}
/*
.espacio{
  margin-top:50px;
}
*/

/*Ajuste para el sidebar*/
.list-group-item.active {
  background-color: #D10024;
  border-color: #D10024;
  transition: 0.2s all;
}

#sidebar a, #sidebar a li{
  transition: 0.2s all;

}
#sidebar a li:hover{
  text-decoration: none;
  padding: 0.75rem 1.8rem;
}
#sidebar a:hover{
  text-decoration: none;
}

#sidebar #close-acount{
  transition: 0.2s all;
  cursor: pointer;
}
#sidebar #close-acount:hover{
  background: #2B2D42;
}
#sidebar #close-acount > span{
  transition: 0.2s all
}
#sidebar #close-acount:hover > span{
padding-left: 25px;
color:#fff;
}

#sidebar #close-acount > i{
  color:#fff;
  position: absolute;
  top:15px;
  visibility: hidden;
}

#sidebar #close-acount:hover> i{
  visibility: visible;
}

/* Para los inputs generales */
.form-control {
  height: unset;
}

.form-group .form-control {
  padding-top: 10px;
  padding-bottom:10px;
}

/*Estilos para los radiobotones*/
.custom-control-input:checked ~ .custom-control-label::before {
  color: #fff;
  border-color: rgba(209, 0, 36, 0.5);
  background-color: #D10024;
}
.custom-radio .custom-control-input:disabled:checked ~ .custom-control-label::before {
  background-color: rgba(209, 0, 36, 0.7);

}
/*Loading*/
.gooey {
  position: absolute;
  left: 50%;
  width: 142px;
  top: 50vh;
  height: 40px;
  margin: 0 0 0 -71px;
  background: white;
  filter: contrast(14);
}
.gooey .dot {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 12px;
  left: 15px;
  filter: blur(4px);
  background: #000;
  border-radius: 50%;
  transform: translateX(0);
  animation: dot 2.8s infinite;
}
.gooey .dots {
  transform: translateX(0);
  margin-top: 12px;
  margin-left: 31px;
  animation: dots 2.8s infinite;
}
.gooey .dots span {
  display: block;
  float: left;
  width: 16px;
  height: 16px;
  margin-left: 16px;
  filter: blur(4px);
  background: #850017;
  border-radius: 50%;
}
@-moz-keyframes dot {
  50% {
    transform: translateX(96px);
  }
}
@-webkit-keyframes dot {
  50% {
    transform: translateX(96px);
  }
}
@-o-keyframes dot {
  50% {
    transform: translateX(96px);
  }
}
@keyframes dot {
  50% {
    transform: translateX(96px);
  }
}
@-moz-keyframes dots {
  50% {
    transform: translateX(-31px);
  }
}
@-webkit-keyframes dots {
  50% {
    transform: translateX(-31px);
  }
}
@-o-keyframes dots {
  50% {
    transform: translateX(-31px);
  }
}
@keyframes dots {
  50% {
    transform: translateX(-31px);
  }
}

.client-ctn{
  padding-top: 20px
}

.client-ctn .gooey{
  top:30vh
}

#no-product{
  margin-top:80px
}
/*



.header-ctn li.nav-toggle {
  display: none;
}


@media only screen and (max-width: 991px) {
  .header-ctn .menu-toggle {
    display: inline-block;
  }
  #responsive-nav {
    position: fixed;
    left: 0;
    top: 0;
    background: #15161D;
    height: 100vh;
    max-width: 250px;
    width: 0%;
    overflow: hidden;
    z-index: 22;
    padding-top: 60px;
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
  }
  #responsive-nav.active {
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%);
    width: 100%;
  }
  .main-nav {
    margin: 0px;
    float: none;
  }
  .main-nav>li {
    display: block;
    float: none;
  }
  .main-nav>li+li {
    margin-left: 0px;
  }
  .main-nav>li>a {
    padding: 15px;
    color: #FFF;
  }
}

*/
@media screen and (max-width: 1400px) {
  #admin-sidebar{
    left:0px
  }
}

@media screen and (max-width: 900px) {
  #admin-sidebar{
    left:-270px
  }
  
  #admin-main{
    background: #eee;
    position: absolute;
    padding: 30px;
    width: 100%;
  }
  
}

