/*=========================================================
	ESTILOS GENERALES
===========================================================*/
body{
  position: relative;
  background: #eee;
  font-family: 'Roboto', sans-serif!important;
}

main{
  margin:0 auto;
  padding: 30px;
  height: 100%;
  max-width: 100%;
  background: #fff;
  text-align: center;
}

.formulario{
  position: relative;
  background: #fff;
  max-width: 400px;
  margin:0 auto;
  padding: 30px;
  margin-top: 10%;
}

.formulario button{
  text-align: center;
  margin:auto;
}
.center{margin:auto;
text-align: center}

footer{
  clear: both;
  background:#393939;
  color:#fff;
  text-align: center;
  padding: 10px;
}


.categorias{
  max-width: 900px;
  margin: 0 auto;
}
:root {
  --primary: #000;
  --secondary: #6c757d;
  --blue: #dc3545;
  --cyan: #dc3545;
  --info: #dc3545;
 
}

.header-logo-black {
  text-align: center

}
 
.header-logo-black .logo img {
   margin-left: auto;
   margin-right: auto;
   margin-top: 3vh;
   margin-bottom: 2vh;
}


/*
.header-ctn>div>a>i {
  display: block;
  font-size: 18px;
}
*/


/* Hay que ver que hacer con esta vaina */
.header-ctn .menu-toggle {
  display: none;
}


/*
.cart-dropdown .cart-list .product-widget {
  padding: 0px;
  -webkit-box-shadow: none;
  box-shadow: none;
}
*/


/*
.cart-dropdown .cart-list .product-widget .product-img {
  left: 0px;
  top: 0px;
}
*/

/*----------------------------*\
	Buttons
\*----------------------------*/

.primary-btn {
  display: inline-block;
  padding: 12px 30px;
  background-color: #D10024;
  border: none;
  border-radius: 40px;
  color: #FFF;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.primary-btn:hover, .primary-btn:focus {
  opacity: 0.9;
  color: #FFF;
}

/*
#clienteOpciones .client-item:last-child {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}


#clienteOpciones .client-item button{
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
*/



.client-zone{
margin-left: 0px;
}
.espacio{
  margin-top:50px;
}



/*  Espacio en el top de registro cliente*/
.mt-3, .my-3 {
  margin-top: 0rem !important;
}











