/*=========================================================
	ESTILOS GENERALES
===========================================================*/
body{
  position: relative;
  background: #eee;
  font-family: 'Roboto', sans-serif!important;
}

main{
  margin:0 auto;
  padding: 30px;
  height: 100%;
  max-width: 100%;
  background: #fff;
  text-align: center;
}

.formulario{
  position: relative;
  background: #fff;
  max-width: 400px;
  margin:0 auto;
  padding: 30px;
  margin-top: 10%;
}

.formulario button{
  text-align: center;
  margin:auto;
}
.center{margin:auto;
text-align: center}

footer{
  clear: both;
  background:#393939;
  color:#fff;
  text-align: center;
  padding: 10px;
}


.categorias{
  max-width: 900px;
  margin: 0 auto;
}
:root {
  --primary: #000;
  --secondary: #6c757d;
  --blue: #dc3545;
  --cyan: #dc3545;
  --info: #dc3545;
 
}

.header-logo-black {
  text-align: center

}
 
.header-logo-black .logo img {
   margin-left: auto;
   margin-right: auto;
   margin-top: 3vh;
   margin-bottom: 2vh;
}


/*
.header-ctn>div>a>i {
  display: block;
  font-size: 18px;
}
*/


/* Hay que ver que hacer con esta vaina */
.header-ctn .menu-toggle {
  display: none;
}


/*
.cart-dropdown .cart-list .product-widget {
  padding: 0px;
  -webkit-box-shadow: none;
  box-shadow: none;
}
*/


/*
.cart-dropdown .cart-list .product-widget .product-img {
  left: 0px;
  top: 0px;
}
*/

/*----------------------------*\
	Buttons
\*----------------------------*/

.primary-btn {
  display: inline-block;
  padding: 12px 30px;
  background-color: #D10024;
  border: none;
  border-radius: 40px;
  color: #FFF;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.primary-btn:hover, .primary-btn:focus {
  opacity: 0.9;
  color: #FFF;
}

/*
#clienteOpciones .client-item:last-child {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}


#clienteOpciones .client-item button{
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
*/



.client-zone{
margin-left: 0px;
}
.espacio{
  margin-top:50px;
}



/*  Espacio en el top de registro cliente*/
.mt-3, .my-3 {
  margin-top: 0rem !important;
}

/*Ajuste para el sidebar*/
.list-group-item.active {
  background-color: #D10024;
  border-color: #D10024;
  transition: 0.2s all;

}

#sidebar a, #sidebar a li{
  transition: 0.2s all;

}
#sidebar a li:hover{
  text-decoration: none;
  padding: 0.75rem 1.8rem;
}
#sidebar a:hover{
  text-decoration: none;
}

#sidebar #close-acount{
  transition: 0.2s all;
  cursor: pointer;
}
#sidebar #close-acount:hover{
  background: #2B2D42;
}
#sidebar #close-acount > span{
  transition: 0.2s all
}
#sidebar #close-acount:hover > span{
padding-left: 25px;
color:#fff;
}

#sidebar #close-acount > i{
  color:#fff;
  position: absolute;
  top:15px;
  visibility: hidden;
}
#sidebar #close-acount:hover> i{
  visibility: visible;

}
.custom-control-input:checked ~ .custom-control-label::before {
  color: #fff;
  border-color: #D10024;
  background-color: #D10024;
}
/*Loading*/
.gooey {
  position: absolute;
  left: 50%;
  width: 142px;
  height: 40px;
  margin: 0 0 0 -71px;
  background: white;
  filter: contrast(10);
}
.gooey .dot {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 12px;
  left: 15px;
  filter: blur(4px);
  background: #000;
  border-radius: 50%;
  transform: translateX(0);
  animation: dot 2.8s infinite;
}
.gooey .dots {
  transform: translateX(0);
  margin-top: 12px;
  margin-left: 31px;
  animation: dots 2.8s infinite;
}
.gooey .dots span {
  display: block;
  float: left;
  width: 16px;
  height: 16px;
  margin-left: 16px;
  filter: blur(4px);
  background: #850017;
  border-radius: 50%;
}
@-moz-keyframes dot {
  50% {
    transform: translateX(96px);
  }
}
@-webkit-keyframes dot {
  50% {
    transform: translateX(96px);
  }
}
@-o-keyframes dot {
  50% {
    transform: translateX(96px);
  }
}
@keyframes dot {
  50% {
    transform: translateX(96px);
  }
}
@-moz-keyframes dots {
  50% {
    transform: translateX(-31px);
  }
}
@-webkit-keyframes dots {
  50% {
    transform: translateX(-31px);
  }
}
@-o-keyframes dots {
  50% {
    transform: translateX(-31px);
  }
}
@keyframes dots {
  50% {
    transform: translateX(-31px);
  }
}